* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background--image {
    background-image: url("./images/fauna.avif");
    background-size: cover;
    width: 35vw;
    height: 100vh;
    padding-top: 10rem;
}

.logo--container {
    width: 35vw;
    height: 20vh;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 1rem;
}

.logo--image > img{
    width: 5rem;
    height: 7rem;
}

.logo--text {
    color: white;
    font-size: 6rem;
    font-family: norse;
}